<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>知海考研-修改用户密码</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link th:href="@{/css/index.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/modifyUser.css}" rel="stylesheet" type="text/css">
    <script src="http://use.edgefonts.net/montserrat:n4:default;source-sans-pro:n2:default.js"
            type="text/javascript"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
<div id="mainWrapper">
    <header>
        <!-- This is the header content. It contains Logo and links -->
        <div id="logo"> <!-- <img src="logoImage.png" alt="sample logo"> -->
            <!-- Company Logo text -->
            <a th:href="@{/index}">
                <image th:src="@{/images/logo.png}"></image>
            </a>
        </div>
        <div id="headerLinks">
            <a title="Login/Register" th:href="@{/user/modifyUserMessage}">你好：[[${session.user.username}]]</a>
            <a th:href="@{/logout}">退出登录</a>
            <a th:href="@{/privateLetterList}">我的私信</a>
        </div>
    </header>
    <div id="content">
        <section class="sidebar">
            <div id="menubar">
                <nav class="menu">
                    <h2>科目类别 </h2>
                    <hr>
                    <ul>
                        <li><a th:href="@{/plateMessage/list/1}">文科专业课</a></li>
                        <li><a th:href="@{/plateMessage/list/2}">理科专业课</a></li>
                        <li><a th:href="@{/plateMessage/list/3}">工科专业课</a></li>
                        <li><a th:href="@{/plateMessage/list/4}">外语课程</a></li>
                        <li><a th:href="@{/plateMessage/list/5}">研究方向</a></li>
                        <li class="notimp"><a th:href="@{/plateMessage/list/6}">关于学校</a></li>
                        <li><a th:href="@{/plate/list}">更多板块</a></li>
                    </ul>
                </nav>
                <nav class="menu">
                    <h2>信息分享 </h2>
                    <hr>
                    <ul>
                        <li><a th:href="@{/publish}">信息发布</a></li>
                    </ul>
                </nav>
                <nav class="menu">
                    <h2>个人操作 </h2>
                    <hr>
                    <ul>
                        <li><a th:href="@{/user/modifyUserMessage}">修改基本信息</a></li>
                        <li><a th:href="@{/user/modifyUserPassword}">修改密码</a></li>
                    </ul>
                </nav>
            </div>
        </section>
        <section class="mainContent ">
            <div class="Content-Main">
                <form th:action="@{/user/modifyUserPassword}" method="post" class="password-form form-userInfo"
                      onsubmit="return check()">
                    <h1>个人信息</h1>
                    <span class="text1">请在文本框中完善您的个人信息：</span>
                    <p>
                        <input hidden name="id" th:value="${session.user.id}">
                    <div class="form-group myDiv">
                        <label for="oldPassword" class="col-sm-2 control-label">旧密码:</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="oldPassword" name="oldPassword"
                                   required placeholder="旧密码">
                        </div>
                    </div>
                    <div style="height: 8px"></div>
                    <div class="form-group myDiv">
                        <label for="newPassword" class="col-sm-2 control-label">新密码:</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="newPassword" name="newPassword"
                                   required placeholder="新密码">
                        </div>
                    </div>
                    <div style="height: 8px"></div>
                    <div class="form-group myDiv">
                        <label for="repassword" class="col-sm-2 control-label">确认密码:</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="repassword" name="repassword"
                                   required placeholder="确认密码">
                        </div>
                    </div>
                    <div style="height: 8px"></div>
                    <label style="margin-top: 8px">
                        <input type="submit" class="btn btn-primary" value="提交">
                    </label>
                </form>
            </div>
        </section>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    var check = function () {
        var password = $("#newPassword").val();
        var RePassword = $("#repassword").val();
        if (password !== RePassword) {
            alert("两次密码不一致!")
            return false;
        }
        return true;
    };
</script>

<style type="text/css">
    .password-form .myDiv {
        margin: 4px 0 4px 0;
    }
</style>